@import "blocks/header";
@import "blocks/footer";
@import "blocks/breadcrumbs";
@import "blocks/product";
@import "blocks/catalog";
@import "blocks/sort";
@import "blocks/form";
@import "blocks/cart";
@import "blocks/registration";

@import "base/vars";
@import "base/mixins";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  background: rgb(241, 228, 230);
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);

  &__content {
    display: flex;
  }
  &__left-img {
    height: 764px;
    width: 800px;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right-content {
    max-width: 377px;
    position: relative;
  }
  &__right-content::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 92px;
    background-color: rgb(241, 109, 127);
    left: -16px;
  }
  &__right,
  &__left {
    width: 50vw;
  }
  &__left {
    text-align: center;
  }
  &__right-title {
    font-size: 48px;
    font-weight: 900;
  }
  &__right-second-line {
    font-size: 32px;
    font-weight: 700;
  }
}

#fashion {
  color: rgb(241, 109, 127);
}

.sale {
  &__block-top {
    padding-top: 65px;
  }

  &__block-down {
    margin-top: 25px;
    padding-bottom: 96px;
  }

  &__block-list {
    display: flex;
    gap: 30px;
  }

  &__block-item {
    text-align: center;
  }

  &__block-item-content {
    position: relative;
  }

  &__block-info {
    width: 160px;
    position: absolute;
    top: -133px;
    left: 110px;
  }

  &__block-info-down {
    top: -100px;
    left: 490px;
  }

  &__block-offer {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  &__block-category {
    font-size: 24px;
    font-weight: 700;
    color: rgb(241, 109, 127);
  }
}

.goods {
  text-align: center;

  &__title {
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }

  &__subtitle {
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 48px;
  }

  &__block {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    max-width: 360px;
    position: relative;
    
  }

  &__item-info {
    text-align: left;
    padding: 16px 24px;
  }

  &__item-info-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 16px;
  }

  &__item-info-description {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 16px;
  }

  &__item-info-price {
    color: rgb(241, 109, 127);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  &__button {
    display: inline-block;
    color: rgb(242, 99, 118);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid rgb(255, 106, 106);
    padding: 14px 38px;
    outline: none;
    background: transparent;
    margin-bottom: 60px;
    transition: all 0.5s;
  }

  &__button:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(242, 99, 118);
  }

  &__item:hover .goods__item-img {
    filter: brightness(0.5);
    transition: 0.5s linear;
  }

  &__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    display: none;
  }

  &__item:hover .goods__add {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
  }
}

.advateges {
  background: rgb(34, 34, 36);
  padding-top: 103px;
  padding-bottom: 104px;

  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  &__item {
    max-width: 360px;
    text-align: center;
  }
  &__images {
    margin-bottom: 28px;
  }
  &__title {
    margin-bottom: 18px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
  }
  &__text {
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
  }
}

.subscribe {
  padding-top: 97px;
  padding-bottom: 126px;
  background-image: url("../img/gbdown.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__left {
    max-width: 360px;
    text-align: center;
  }

  &__left-img {
    margin-bottom: 20px;
  }

  &__left-text {
    color: rgb(34, 34, 36);
    font-family: Lato;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
  }

  &__right {
    text-align: center;
  }

  &__right-title {
    color: rgb(34, 34, 36);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
  }

  &__right-subtitle {
    color: rgb(34, 34, 36);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
  }

  &__rigth-form {
    margin-top: 32px;
  }

  &__input {
    outline: none;
    width: 256px;
    height: 49px;
    border: none;
    background: rgb(225, 225, 225);
    border-radius: 25px 0 0 25px /85%;
    cursor: line;
    box-sizing: border-box;
    padding-left: 20px;

    transition: all 0.4s;

    &:focus {
      background: rgb(255, 255, 255);
      box-shadow: 12px 8px 18px 0px rgba(0, 0, 0, 0.13);
    }
  }

  &__input::placeholder {
    color: rgb(34, 34, 36);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;

  }

  &__btn {
    cursor: pointer;
    width: 100px;
    height: 49px;
    margin-left: -4px;
    padding-bottom: 2px;
    background: rgb(241, 109, 127);
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 25px 25px 0/85%;
    transition: all .4s;

    &:hover {
      color: $selectedColor;
      background-color: white;
      box-shadow: 12px 8px 18px 0px rgba(0, 0, 0, 0.13);
  }
  }
}

@include mediaLaptop {
  .center {
    padding-left: calc(50% - 360px);
    padding-right: calc(50% - 360px);
  }
  .top__left-img {
    width: 386px;
    height: 368px;
  }
  .goods__list {
    gap: 16px;
  }
  .goods__item {
    max-width: 350px;
  }
  .sale__block-info {
    top: -90px;
    left: 30px;
  }
  .sale__block-info-down {
    top: -60px;
    left: 290px;
  }
  .subscribe__block {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
  }
}

@include mediaTablet {
  .center,
  .top {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__right-link_mobile {
    display: none;
  }
  .top__left_mobile {
    display: none;
  }
  .top__right {
    width: 100vw;
    height: 363px;
  }
  .sale__block-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .sale__block-info {
    top: -130px;
    left: 95px;
  }
  .sale__block-info-down {
    top: -60px;
    left: 100px;
  }
  .sale__block-down {
    display: flex;
    justify-content: center;
  }
  .sale__block-down-img {
    width: 360px;
    height: 111px;
  }
  .subscribe__rigth-form form {
    display: flex;
  }
  .subscribe__input {
    max-width: 200px;
  }
  .subscribe__btn {
    max-width: 100px;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

@include mediaMobile {
  .sale__block-info {
    top: -110px;
    left: 65px;
  }
  .sale__block-info-down {
    top: -60px;
    left: 65px;
  }
}
