@import "../base/vars";
@import "../base/mixins";

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.catalog {
  padding-top: 52px;
  padding-bottom: 96px;

  &__filter-block {
    display: flex;
    gap: 34%;
  }

  &__filter-sort {
    position: relative;
  }

  &__filter {
    position: absolute;
    box-sizing: border-box;
    width: 360px;
    z-index: 10;

    &[open] {
      padding: 13px 16px 16px;
      margin-top: -13px;
      background: #fff;
      z-index: 11;
      box-shadow: 6px 4px 35px rgba($color: #000000, $alpha: 0.21);
    }

    &[open] .catalog__filter-heading {
      color: $selectedColor;
    }

    &[open] path {
      fill: $selectedColor;
    }
  }

  &__filter-summary {
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    gap: 11px;
    align-items: center;
    cursor: pointer;
  }

  &__filter-heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }

  &__filter-item {
    margin-top: 16px;
  }

  &__filter-item[open] .catalog__f-item-heading {
    color: $selectedColor;
  }

  &__f-item-heading {
    padding: 8px 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid $selectedColor;
  }

  &__filter-link-box {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__filter-link {
    color: $colorLink;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    transition: color ease 0.2s;

    &:hover {
      color: $selectedColor;
    }
  }

  &__product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 64px;
  }

  &__pagination-block {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pagination {
    padding: 12px 16px;
    border: 1px solid rgb(235, 235, 235);
    color: $colorText;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@include mediaLaptop {
  .catalog {
    padding-top: 24px;
    padding-bottom: 63px;

    &__filter-block {
      justify-content: space-between;
    }

    &__product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-top: 40px;
    }

    &__pagination-block {
      margin-top: 40px;
    }
  }
}

@include mediaTablet {
  .catalog {

    &__filter-block {
      display: flex;
      gap: 60px;
    }

    &__filter-summary {
      width: 37.5px;
      height: 25px;
    }

    &__filter-heading_mobile {
      display: none;
    }

    &__filter-icon {
      width: 37.5px;
      height: 25px;
    }

    &__product-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
