@import '../base/mixins';

.slider {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  background: #F7F7F7;

  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    padding-top: 11px;
    padding-bottom: 42px;
  }

  &__arrow-back {
    position: absolute;
    top: 50%;
    left: 0;
  }

  &__arrow-next {
    position: absolute;
    top: 50%;
    right: 0;
  }

  &__arrow {
    background: rgba(42, 42, 42, 0.15);
    padding: 12px 16px;
  }
}

.product {
  &__content {
    margin-top: -65px;
    margin-bottom: 128px;
    padding: 65px;
    position: relative;
    z-index: 20;
    background: rgb(255, 255, 255);
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__category {
    position: relative;
    margin-bottom: 28px;
    color: $selectedColor;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    &::after {
      position: absolute;
      top: 28px;
      left: 27%;
      content: "";
      width: 63px;
      height: 3.03px;
      background: $selectedColor;
    }
  }

  &__title {
    color: $colorText;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 48px;
  }

  &__desc {
    color: $colorText;
    max-width: 555px;
    min-width: 326px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 32px;
  }

  &__price {
    position: relative;
    color: $selectedColor;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    padding-bottom: 65px;
    margin-bottom: 130px;

    &::after {
      position: absolute;
      top: 115px;
      left: -280px;
      content: "";
      width: 641px;
      border: 1px solid rgb(234, 234, 234);
    }
  }

  &__btn {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 56px 14px 24px;
    color: $selectedColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid $selectedColor;
    outline: none;
    background: transparent;
    margin-bottom: 60px;
    transition: all 0.5s;

    path {
      fill: $selectedColor;
    }

    &:hover {
      color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
      background-color: $selectedColor;

      path {
        fill: rgb(255, 255, 255);
      }
    }
  }
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 128px;
}

@include mediaLaptop {

  .product {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .product-list {
    gap: 16px;
  }

  .goods {
    &__item_hidden {
      display: none;
    }
  }
}

@include mediaTablet {
  .product {
    &__content {
      margin-bottom: 64px;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__price {
      margin-bottom: 82px;

      &::after {
        position: absolute;
        top: 60px;
        left: -60px;
        width: 175px;
      }
    }
  }

  .product-list {
    margin-bottom: 64px;
  }
}