@import '../base/mixins';

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;

  &__advantages {
    max-width: 652px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
  }

  &__title {
    font-weight: 300;
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 22px;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__li {
    display: flex;
    align-items: center;
    gap: 23px;
  }
}


@include mediaLaptop {
  .registration {
    padding-top: 40px;
    gap: 22px;

    &__advantages {
      width: 356px;
      font-size: 16px;
    }
  }
}

@include mediaTablet {
  .registration {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}