@import "../base/vars";
@import "../base/mixins";

.sort {
  position: relative;
  display: flex;
  align-items: center;
  gap: 28px;
  z-index: 10;

  &__list {
    cursor: pointer;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  &__heading {
    color: $colorLink;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  &__content {
    position: absolute;
    margin-left: -9px;
    padding: 7px 30px 11px 9px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 10;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
  }

  &__check {
    display: flex;
    gap: 9px;
    color: $colorLink;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}


@include mediaTablet {
  .sort {
    gap: 19px;
  }
}